*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

p,button {
  margin: 0 ;
  padding: 0;
}

.ui-mask,
.ui-mask-transition,
.ui-mask-transparent {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ui-mask {
  background: rgba(0, 0, 0, .2);
}

.ui-dialog {
  position: fixed;
  width: 80%;
  color: #333;
  background: RGBA(245, 245, 245, 1.00);
  border-radius: 10px;
  font-size: 16px;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
  transition: .2s .1s;
}

[data-dpr="2"] .ui-confirm {
  font-size: 32px;
}

[data-dpr="3"] .ui-confirm {
  font-size: 36px;
}
.ui-dialog-content {
  padding: 30px;
  color: #3C3939;
  border-bottom: 1px solid #ddd;
}
.ui-dialog-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  line-height: 40px;
}
.ui-dialog-btn {
  color: #3B8BFA;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  border: 0;
  font-size: 16px;
}
.ui-dialog-btn:active {
  /* background: black; */
}
.dialog-cancel {
  border-right: 1px solid #ddd;
}
